var activityModal = $('#activity-modal');

activityModal.empty();
activityModal.append('<button class="close">close</button>');

activityModal.append('<%= j(render partial: "commentform", locals: {getaway: @getaway}) %>');

$('.modal').show();
